/target
.vscode
.errorviz-version
/data_test
/old
/model
/tmp
/tmp2
/tmp3
/src/main_mod_dm_fit_experimental.rs
/published_results/old
/published_results/incldue
/published_results/share
/published_results/lib
/published_results/etc
/published_results/bin
/published_results/humpty_baseline
/published_results/.ipynb_checkpoints
/published_results/lib64
/published_results/pyvenv.cfg
/src/tests
/.ipynb_checkpoints
